# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
app/build
app/bin

# Ignore large test movies
# will provide alternative way to download
app/src/test/resources/test_movie

# Ignore log files
*.log
*.DriftCorrection.log.*

app/.settings
