# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
app/build
app/bin
app/.classpath

# Ignore large test movies
# will provide alternative way to download
app/src/test/resources/test_movie

# Ignore log files
*.log
*.log.*

*.temp-*

app/.settings
*.settings